.App {
  text-align: center;
}
.quote
{
  z-index: 2;
  position: absolute;
  color: white;
  font-size: 20px;
  margin-left: 25%;
  margin-top: 15%;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}