.App {
  text-align: center;
}
.App-Content{
  z-index: 2;
  color:white;
}
.quote
{
  position: relative;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 5%;
}
.login
{
  width: 250px !important;
  text-align: center;
  position: relative;
  margin-top: 10%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.226);
  padding: 10px;
}
.main{
  text-align: center;
  width: 75%;
  position: relative;
  margin-top: 2%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.226);
}
.col-12
{
  padding-bottom: 10px;
}
.login-btn-left
{
  text-align: right !important;
  padding-top: 5px;
}
.login-btn-right
{
  text-align: left !important;
  padding-left: 5px;
  padding-top: 5px;
}
.login-method
{
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
}
.good-btn
{
  font-family: cursive;
  border-radius: 2rem;
  border-color: white;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.6);
}
.good-btn:hover
{
  background-color: rgba(255, 255, 255, 0.952);
}
.main-btn
{
  font-family: cursive;
  border-width: .5px;
  border-radius: 2rem;
  border-color: black;
  border-style: solid;
  background-color: white;
  padding: 2px 25px;
}
.main-btn:hover
{
  background-color: rgba(0, 225, 255, 0.5);
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
.forminput
{
  width: 10% !important;
}
.hello
{
  font-size: 25px;
  margin-top: 8px;
  font-family: cursive;
}
.actionsrow
{
  border: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .85);
  color: black;
  margin: 5px;
  padding:20px;
}
.PostItem
{
  border: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .85);
  color: black;
  margin: 5px;
}
.col-lg-6
{
  padding: 10px;
}
.smtxt
{
  font-size: 14px;
}
.inline
{
  display: inline-block;
  padding: 3px;
}