.App {
  text-align: center;
}
.App-Content{
  z-index: 2;
  color:white;
}
.quote
{
  position: relative;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 5%;
}
.login
{
  width: 200px !important;
  position: relative;
  margin-top: 10%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.397);
  padding: 10px
}
.col-12
{
  padding: 5px;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
.forminput
{
  width: 10% !important;
}